.pts{
    padding-top: 20vh;
}
.card-pages{
    box-sizing: border-box;
    padding: 1.5%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardpage2{
    box-sizing: border-box;
    width: auto; 
    height: auto;
    border: none;
    overflow: visible;
}
.bgs{
   background-image: url('../Photo/backgroundset.jpg');
   background-size: cover; 

}
.bgs2{
    background-color: whitesmoke;
    height: auto;
}
.bgs3{
    background-color:  #dff1e1;
}
.bgs-r1{
    width: 125px;
    height: 125px;
    margin: 15px;
}
.banner{
    width: 100%;
    height: 450px;
    background-image: url("../Photo/banner.jpg");
    background-size:cover;
    border: none;
}
.bgs-r1:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.btnsize{
   padding: 2.5%;
   width: 75%;
}
.text-bc{
    bottom: 10px;
}
.text-content{
    color: black;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}


  

@media screen and (max-width:600px) {
    /* .pts{
        padding-top: 35px;
    } */
   
    .card-pages{
        height: max-content;
        box-shadow: none;
        background: none;
        border: none;
        color: white;
    }
    .btnsize{
        width: 320px;
    }
    
}
@media screen and (max-width:890px) {
    /* .pts{
        padding-top: 35px;
    } */
    /* .bgs{
        background: none;
    } */
    .card-pages{
        height: max-content;
        width: fit-content;
        box-shadow: none;
        border: none;
    }
    /* .btnsize{
        width: 300px;
        height: 250px;

    } */
    
}