.image-item {
    width: 100px; /* กำหนดขนาดตามที่คุณต้องการ */
    height: 100px; /* กำหนดขนาดตามที่คุณต้องการ */
    background-size: cover; /* การปรับขนาดพื้นหลังให้เต็มขนาดของ <div> */
    background-position: center; /* การจัดตำแหน่งของรูปภาพในพื้นหลัง */
  }